$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';


body {
  background-color: $background-purple;
  color: $text-offwhite;
}

nav {
  height: 70px;
}

.nav-messages {
  margin-left: 200px;
  margin-top: 10px;
  position: absolute;
}

#user-button {
  float: right;
  margin-top: 10px;
}

#shops-button {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
}

#load-visits-button {
  display: none;
  margin-left: 100px;
  margin-top: 10px;
  position: absolute;
}

.modal-body {
  background-color: $text-offwhite;
  color: $background-purple;
}

.entry-page h1 {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20%;
}

.entry-page p {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
};

.visit-page {
  display: none;
}

// .like-button {
  // display: none;
// }

// .new-event-button {
//
// }

// .dislike-button {
  // display: none;
// }

.visit-listing {
  display: inline-block;
}

.shop-listing {
  display: inline-block;
  padding: 15px;
}

.all-pages {
  clear: both;
  margin-top: 25px;
  position: absolute;
  width: 90%;
}
