$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';


body {
  background-color: $background-purple;
  color: $text-offwhite;
}

.nav-messages {
  float: left;
  position: fixed;
}

#nav-button {
  float: right;
  margin-top: 5px;
}

.modal-body {
  background-color: $text-offwhite;
  color: $background-purple;
}

.entry-page h1 {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20%;
}

.entry-page p {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
};

.visit-page {
  display: none;
}

.visit-listing {
  display: inline-block;
}

.all-pages {
  clear: both;
  margin-top: 40px;
  position: absolute;
  width: 90%;
}
